<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} - {% endif %}Blog Tokens</title>
  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  
  <section class="section section-less"> 
    <div class="container">
      <a href="/"><img src="/images/logo-q.svg" alt="Blog Tokens"></a>
    </div>
  </section>

  <main>
    {{ content | safe }}
  </main>

</body>
</html>