---
layout: base
---

<section class="section">
  <div class="container">
    <div class="stack stack-default">

      <header class="post-header">
        <h1>{{ title }}</h1>
      </header>

      <div class="stack stack-default">
        {{ content | safe }}
      </div>

      <button class="button" onclick="window.location.href='/'" aria-label="Back to home">Back to home</button>
      
    </div>
  </div>
</section>

