---
layout: base
---

<section class="section">
  <div class="container">
    <div class="post-detail">
      {% if tags and tags.length > 0 %}
        <div class="tags-container ...">
          {% for tag in tags %} {# Use 'tags' directly #}
            {% if tag != 'posts' %}
              <span class="tag">{{ tag }}</span>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <header class="post-header">
        <h1>{{ title }}</h1>
      </header>
      
      <div class="stack stack-default">
        {{ content | safe }}
      </div>
      <div class="tags-container" style="margin-top: var(--comp-box-stack-pad-gap-default);"> {# Added margin-top for spacing #}
        
      <button class="button" onclick="window.location.href='/'" aria-label="Back to home">Back to home</button>
      
    </div>
  </div>
</section>

