---
layout: base
---

<section class="section">
  <container>
    <post-detail>
      {% if tags and tags.length > 0 %}
        <tags-container>
          {% for tag in tags %} {# Use 'tags' directly #}
            {% if tag != 'posts' %}
              <tag>{{ tag }}</tag>
            {% endif %}
          {% endfor %}
        </tags-container>
      {% endif %}
        <h1>{{ title }}</h1>
      <div class="stack stack-default">
        {{ content | safe }}
      </div>
        
      <button class="button" data-size="sm" onclick="window.location.href='/'" aria-label="Back to home">Back to home</button>
      
    </post-detail>
  </container>
</section>

