/* -----------------------------
 * Button - connected to tokens
 * ----------------------------- */

 button {
    padding: var(--comp-button-pad);
    border-radius: var(--comp-button-b-rad);
    min-height: var(--comp-button-min-h);
    background-color: var(--comp-button-primary-bg-default);
    color: var(--comp-button-primary-fg);
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: var(--output-typography-medium-font-size);
  }
  button:hover {
    background-color: var(--output-color-accent-lighter);
  }

button[data-size="sm"] {
    padding-x: 6px;
    padding-y: 6px;
    font-size: 13px;
    border-radius: 4px;
  }
  
button[data-accent="blue"] {
    background: var(--modify-color-accent-primary);
    color: #ffffff;
    border: #3b82f6;
  }
  
button[data-accent="blue"]:hover {
    background: #2563eb;
  }

  button[data-accent="purple"] {
    background: #3b82f6;
    color: #ffffff;
    border: #3b82f6;
  }
  
button[data-accent="purple"]:hover {
    background: #2563eb;
  }

  button[data-accent="yellow"] {
    background: #3b82f6;
    color: #ffffff;
    border: #3b82f6;
  }
  
button[data-accent="yellow"]:hover {
    background: #2563eb;
  }